/* Popup window */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-inner {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .popup h2 {
    margin-top: 0;
    font-size: 24px;
  }
  
  .popup form div {
    margin-bottom: 10px;
  }
  
  .popup form div label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .popup form div input,
  .popup form div select {
    width: 94%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .popup form div select {
    cursor: pointer;
  }
  
  .popup .button-group {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
  button{
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
  }
  
  .popup .button-group button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
  }

  
  
  .popup .button-group button:hover {
    background-color: #0069d9;
  }
  
  .popup .button-group button[type="button"] {
    background-color: #f2f2f2;
    color: #000;
  }
  
  .popup .button-group button[type="button"]:hover {
    background-color: #e6e6e6;
  }
  