
  .register-page {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url(../../../public/wall.jpg);
    background-color: rgba(247, 255, 255, 0.996);
    position: relative;
  }


  .register-form{
    position: absolute;
    width:600px;
    height: auto;
    border: 1px solid #080808;
    padding: 0px 20px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     background-color:#497DAA;
    border-style: inherit;
    padding: 20px;
    
  } 
  .titleRegister{
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
  }
  .register-form input::placeholder {
    color: #999595;
    font-size: large;  
  }

  
.register-form-button{
  border-radius: 4px;
  cursor: pointer;
  width: 160px;
  height: 55px;
  font-size:x-large;
  color: #fff;
  background-color:#0e5dde;
  margin-left: 200px;
}


.register-form input[type='text'],.register-form input[type='password'] {
  padding: 6px;
  font-size:medium;
  
}


@media (max-width: 768px) {
  .register-form {
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    margin-right: 20px;
  }
  .register-form input[type='text'],.register-form input[type='password'] {
    padding: 6px;
    font-size:small;
  }

  .titleRegister {
    font-size: 2rem;
    margin-left: 20px;
  }

  .titleRegister {
    font-size: 1.2rem;
  }

 .register-form-button{ 
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  height: 20px;
  font-size:large;
  background-color:#C8E3F6;
  color: #0e0c0c;
}


} 

 @media (min-width: 769px) and (max-width: 1024px) {
  .register-form {
    width: 60%;
  }
} 